*{
    box-sizing: border-box;
}
body{
    font-family:Verdana,  Tahoma, sans-serif ;
    padding: 3cm; 
    background-image: url(./images/payment\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}

.container{

    background-color: rgba(60, 226, 218, 0.192);
    background: transparent ;
    padding: 20px;
    border: 10px;
    border-radius: 50px;
    box-shadow: 5mm 5mm  50px rgba(182, 182, 178, 0.5);
    
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],select,textarea {
    border: 1px lightslategrey;
    border-radius: 5px;
    padding: 4px;
    margin: 1px;
}
fieldset{
    background-color: white;
    border: lightslategrey;
    border-radius: 5px;
}



input.one[type="submit" ]{
    background-color: rgba(22, 170, 228, 0.466);
    width: 5cm;
    padding: 5px;
    border: 1px solid rgba(119, 136, 153, 0.822);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: relative;
    left: 3.2cm;
    
}


input.one:hover[type="submit" ]{
    background-color: rgb(6, 130, 247);
    cursor: pointer;
}

input.two[type="submit" ]{
    background-color: rgba(22, 154, 230, 0.61);
    border: 1px solid lightslategray;
    border-radius: 5px;
    
}
input.two:hover[type="submit" ]{
           background-color: rgba(37, 121, 218, 0.911);
           cursor: pointer;
}


input.three[type="submit" ]{
    background-color: rgba(102, 205, 171, 0.61);
    border-color: rgb(181, 190, 185);
    border-radius: 20px;
    width: 100%;
    height: 1cm;
    color: white;
    font-weight: bold;
     letter-spacing: 1px;
     font-size: 20px;
}
input.three:hover[type="submit" ]{
    background-color: rgb(35, 211, 143);
    cursor: pointer;
}